{{ $projects := where site.RegularPages "Type" "projects" }}
{{ $totalProjects := len $projects }}

{{ range seq 0 (sub $totalProjects 4) 4 }}
<div class="col-4 col-12-mobile">
    {{ $firstProject := index $projects . }}
    {{ $secondProjectIndex := add . 1 }}
    {{ $secondProject := index $projects $secondProjectIndex }}
    <article class="item">
        <a href="{{ $firstProject.Permalink }} " class="image fit">
        <img src="{{ $firstProject.Params.image }}" alt=""/></a>
        <header>
            <h3>{{ $firstProject.Params.title }}</h3>
        </header>
    </article>
    {{ if lt $secondProjectIndex $totalProjects }}
    <article class="item">
        <a href="{{ $secondProject.Permalink }} " class="image fit">
        <img src="{{ $secondProject.Params.image }}" alt="" /></a>
        <header>
            <h3>{{ $secondProject.Params.title }}</h3>
        </header>
    </article>
    {{ end }}
</div>
{{ end }}

