<!-- Scripts -->
{{ $query := resources.Get "js/jquery.min.js" }}
{{ $scroll := resources.Get "js/jquery.scrolly.min.js" }}
{{ $scrollX := resources.Get "js/jquery.scrollex.min.js" }}
{{ $brow := resources.Get "js/browser.min.js" }}
{{ $brake := resources.Get "js/breakpoints.min.js" }}
{{ $utl := resources.Get "js/util.js" }}
{{ $main := resources.Get "js/main.js" }}

<!-- Scripts -->
<script src="{{ $query.RelPermalink}} "></script>
<script src="{{ $scroll.RelPermalink}} "></script>
<script src="{{ $scrollX.RelPermalink}} "></script>
<script src="{{ $brow.RelPermalink}} "></script>
<script src="{{ $brake.RelPermalink}} "></script>
<script src="{{ $utl.RelPermalink}} "></script>
<script src="{{ $main.RelPermalink}} "></script>


